/*
    This program and the accompanying materials are
    made available under the terms of the Eclipse Public License v2.0 which accompanies
    this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

    SPDX-License-Identifier: EPL-2.0

    Copyright Contributors to the Zowe Project.
    Copyright Contributors to the Open Mainframe Project's TSTerm Project
*/

body {
    background-color: black;
    background-image: radial-gradient(
      rgba(90, 90, 90, 0.75), black 120%
    );
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: 	#7CFC00;
    font-family: 'IBM 3270', Courier New, Courier, monospace;
    text-shadow: 0 0 3px #0bda76;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}

pre {
    margin: 0;
}

input[type="text"], textarea {
    font-family: 'IBM 3270', Courier New, Courier, monospace;
    font-size: medium;
    background: transparent;
    outline: 0;
    border-width: 0 0 2px;
    border-color: cyan;
    color: cyan;
}

button, select {
    font-family: 'IBM 3270', Courier New, Courier, monospace;
    font-size: medium;
    font-weight: bold;
}

/*
    This program and the accompanying materials are
    made available under the terms of the Eclipse Public License v2.0 which accompanies
    this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

    SPDX-License-Identifier: EPL-2.0

    Copyright Contributors to the Zowe Project.
    Copyright Contributors to the Open Mainframe Project's TSTerm Project
*/
